#!/usr/local/bin/env bash

if [ -f ~/.gnupg/github/sentry_dsn.gpg ]; then
  SENTRY_DSN="$(gpg -d -q ~/.gnupg/github/sentry_dsn.gpg)"
  export SENTRY_DSN
fi

GNUPGHOME="${HOME}/Documents/src/github.com/.gnupg"
PIPENV_VENV_IN_PROJECT=1

export GNUPGHOME
export PIPENV_VENV_IN_PROJECT
