#!/usr/local/bin/env bash

if [ -f ~/.gnupg/github/sentry_dsn.gpg ]; then
    SENTRY_DSN="$(gpg -d -q ~/.gnupg/github/sentry_dsn.gpg)"
    export SENTRY_DSN
fi

GNUPGHOME="$(pwd)/.gnupg"
HATCH_CACHE_DIR="$(pwd)/.hatch/cache"
HATCH_DATA_DIR="$(pwd)/.hatch/data"
HATCH_ENV="local"
HATCH_VERBOSE=2
PIPENV_VENV_IN_PROJECT=1

export GNUPGHOME
export HATCH_CACHE_DIR
export HATCH_DATA_DIR
export HATCH_ENV
export HATCH_VERBOSE
export PIPENV_VENV_IN_PROJECT
