#!/usr/local/bin/env bash

if [ -f ~/.gnupg/github/sentry_dsn.gpg ]; then
    SENTRY_DSN="$(gpg -d -q ~/.gnupg/github/sentry_dsn.gpg)"
    export SENTRY_DSN
fi

PIPENV_VENV_IN_PROJECT=1

export PIPENV_VENV_IN_PROJECT
