[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pylama = "*"
autopep8 = "*"
pytest-cov = "*"
pylint = "*"
pylint2junit = "*"

[packages]
"ruamel.yaml" = "*"
tox = "*"
python-dotenv = "*"
requests = "*"
autopep8 = "*"
