[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
pylama = "*"
pylint = "*"
pylint-junit = "*"
pytest = "*"
pytest-cov = "*"
pytest-pylint = "*"
pytest-rerunfailures = "*"
pytest-sentry = "*"
sentry-sdk = "*"

[packages]
loguru = "*"
"ruamel.yaml" = "*"
python-dotenv = "*"
requests = "*"
tox = "*"
setuptools = "*"
panegyric = {file = ".", editable = true}

[docs]
myst-parser = "*"
sphinx = "*"
sphinx-autobuild = "*"
sphinx-copybutton = "*"
sphinx-design = "*"
sphinx-git = "*"
sphinx-last-updated-by-git = "*"
sphinxcontrib-autoyaml = "*"
