[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"
myst-parser = {extras = ["linkify"], version = "*"}
pylama = "*"
pylint = "*"
pylint-junit = "*"
pytest = "*"
pytest-cov = "*"
pytest-pylint = "*"
pytest-rerunfailures = "*"
pytest-sentry = "*"
sentry-sdk = "*"
sphinx = "*"
sphinx-autobuild = "*"
sphinx-book-theme = "*"
sphinx-copybutton = "*"
sphinx-design = "*"
sphinx-git = "*"
sphinx-last-updated-by-git = "*"
sphinxcontrib-autoyaml = "*"

[packages]
"ruamel.yaml" = "*"
hatchling = "*"
loguru = "*"
pipenv = "*"
requests = "*"
tox = "*"
version_query = "*"
